{% extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>
</ul>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" size="15" />

<ul id="search-results">
</ul>

{% endblock %}

{% block content %}
{% if articles.count > 0 %}

{% for article in articles %}
<div>
    <h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a></h2>
    <p>{{ article.body|truncatewords:"10" }}</p>
</div>
{% endfor %}

{% else %}

<p>None to show!</p>

{% endif %}

{% endblock %}
